################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AF-COM-IA/CopilotIndices/17.13.433.20974
/.vs/AF-COM-IA/FileContentIndex
/.vs/AF-COM-IA/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.gitignore
